*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fbody;
}

img{
    max-width: 100%;
}

ul,li{
    list-style: none !important;
    padding-left: 0;
}

a{
    text-decoration: none !important;
    font-family: $fbody;
    font-size: 1rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: $fbody;

}

p{

    font-size: 1rem;
    font-family: $fbody;
    font-weight: 300;
}


