//COLORS
$negro:#000000;
$blanco:#fff;
$azulClaro:#50b5ff;
$azulMedio:#008aff;
$azulOscuro:#0f0c34;

$naranja:#ffbe3d;
$verde:#5cc9a7;
$salmon:#ec1657;
$grisClaro:#eaecf3;
$grisOscuro:#718096;
$azulweb: #50c8ff;

//END COLORS

$font: "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700" !default;
$font2: "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700";
$fbody:"Montserrat", sans-serif;
$ftitle: "Roboto Slab", serif;
$base:10px;
$rem:1;
$baseEspacios:20;
$sombra:0 0 $base rgba($negro, 0.1);


